@model IceCream.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<div class="bg-breadcrumb">
    <div class="container overflow-hidden"> 
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home mr-1"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
        </ol>
    </div>
</div> 
@if (ViewBag.Result == 1)
{
    <div id="AlertBox" class="alert alert-success">
        <strong>Yêu cầu lấy lại mật khẩu thành công. Vui lòng kiểm tra email của bạn để lấy thông tin.</strong>
    </div>
}
<section class="box-user forgot-pass">
    <div class="container py-lg-5 py-4">
        <div class="row"> 
            <div class="col-lg-7 col-md-7 col-12">
                <img src="~/Content/images/bg-page/Forgot password.svg" alt="IceCream" class="img-login-left" />
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="form-user">
                    <div class="title-section my-lg-5 my-4"><span>Quên mật khẩu</span></div>
                    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "form-header" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Nhập dịa chỉ email của bạn" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        @*<p class="text-right">
                            <a href="@Url.Action("Login", "User")"><i class="fas fa-sign-in"></i> Đăng nhập</a>
                        </p>*@
                        <div class="form-group">
                            <button type="submit" class="btn btn-login"><i class="fas fa-paper-plane"></i> GỬI YÊU CẦU</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}
