@model IceCream.ViewModel.InsertArticleViewModel
@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Cập nhật bài viết</h2>
<a class="btn quick-link" href="@Url.Action("ListArticle")"><i class="far fa-list mr-1"></i> Danh sách bài viết</a>
<div class="box_content">
    @using (Html.BeginForm("UpdateArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Article.Id)
        <table class="form_table">
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.ArticleCategoryId)</td>
                <td class="form_text">
                    <select name="CategoryId" class="form_control w300" required="">
                        <option value="">Chọn danh mục bài viết</option>
                        @foreach (var category in Model.Categories.Where(a => a.ParentId == null))
                        {
                            <option value="@category.Id"
                                    @if (category.Id == Model.Article.ArticleCategoryId) { @Html.Raw("selected='selected'") }>
                                @category.CategoryName
                            </option>
                            foreach (var child in Model.Categories.Where(a => a.ParentId == category.Id))
                            {
                                <option value="@child.Id"
                                        @if (child.Id == Model.Article.ArticleCategoryId) { @Html.Raw("selected='selected'") }>
                                    -- @child.CategoryName
                                </option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Subject)</td>
                <td class="form_text">@Html.EditorFor(model => model.Article.Subject)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Image)</td>
                <td class="form_text">@Html.TextBoxFor(model => model.Article.Image, new { type = "file" }) Rộng 525px - Cao 300px <span class="red-warring">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</span></td>
            </tr>
            <tr id="ImgPreview">
                <td class="form_name"></td>
                <td class="form_text">
                    <div style="display: inline-block; text-align: center;">
                        @Html.DisplayFor(model => model.Article.Image)
                        <br />
                        @if (!string.IsNullOrEmpty(Model.Article.Image))
                        {
                            <br />
                            <a href="javascript:;" onclick="$('#ImgPreview').hide(); $('#CurrentFile').val('');"><img src="/Content/admin/icon-delete-red.png" alt="" style="vertical-align: middle; height: 10px;" /> Xóa ảnh</a>
                        }
                        <input type="hidden" name="CurrentFile" id="CurrentFile" value="@Model.Article.Image" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Description)</td>
                <td class="form_text">
                    @Html.EditorFor(model => model.Article.Description)
                    @Html.ValidationMessageFor(model => model.Article.Description)
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Body)</td>
                <td class="form_text">@Html.EditorFor(model => model.Article.Body)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Home)</td>
                <td class="form_text">@Html.EditorFor(model => model.Article.Home)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Article.Active)</td>
                <td class="form_text">@Html.CheckBoxFor(model => model.Article.Active, new { @checked = "checked" })</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>

