@model IceCream.ViewModel.MenuArticleViewModel
  
<div class="box-border mt-lg-0 mt-3 py-1">
    <div class="title-category mt-3">Danh mục bài viết</div>
    <ul class="ul-block ul-catalog my-3">
        @foreach (var category in Model.ArticleCategories)
        {
            <li><a href="@Url.Action("ArticleCategory", new { url = category.Url })" class="text"> @category.CategoryName</a></li>
        }
    </ul>
    @if (Model.Articles.Any())
    {
        <div class="title-category mt-3">
            Bài viết gần đây
        </div>   
        foreach (var article in Model.Articles)
        {
            <div class="media media-recently">
                @if (article.Image != null)
                {
                    <a href="@Url.Action("ArticleDetail", new { url = article.Url })">
                        <img src="@Path.Combine("/images/articles/", article.Image)" 
                             class="img img--recently img-fluid mr-2 pt-1" alt="@article.Subject" />
                    </a>  
                } 
                <div class="media-body content">
                    <a href="@Url.Action("ArticleDetail", new { url = article.Url })" class="content__name-recently truncate-h pt-2">
                        @article.Subject
                    </a> 
                    <div class="content__calendar pt-2 pb-2">
                        <i class="fas fa-calendar-alt mr-1"></i> @article.CreateDate.ToString("dd/MM/yyyy")
                    </div>
                </div>
            </div>
        }
    }
</div>


