@using IceCream.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.png">
    @Styles.Render("~/Content/admincss", "~/Content/themes/base/css")
    <link href="~/Scripts/multi-upload/jquery.fileupload.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="responsive">
        <div class="app-header">
            <div class="app-header__logo">
                @if (config.Image != null)
                {
                    <a href="@Url.Action("Index","Home")" target="_blank"><img class="logo-admin" src="@Path.Combine("/images/configs/", config.Image)" alt="logo" /></a>
                }
                else
                {
                    <a href="@Url.Action("Index","Home")" target="_blank"><img class="logo-admin" src="~/Content/images/logo-icon/logo.png" /></a>
                }
                <a id="btn-show" onclick="myFunction()"><i class="fal fa-bars"></i><i class="fal fa-times"></i></a>
            </div>
            <div class="app-header__content">
                <div class="media mr-lg-5 mr-3 drop">
                    <img class="mr-3 avatar" src="~/Content/admin/icon_profile.png" />
                    <div class="media-body">
                        <h5 class="mb-0">@User.Identity.Name</h5>
                        Quản trị viên
                    </div>
                    <div class="content-drop">
                        <a href="@Url.Action("LogOut","Vcms")"><i class="fal fa-sign-out-alt pr-1"></i> Đăng xuất</a>
                        <a href="@Url.Action("ChangePassword","Vcms")"><i class="fal fa-low-vision mr-1"></i>Đổi mật khẩu</a>
                        <a href="@Url.Action("ConfigSite","Vcms")"><i class="fal fa-info-circle"></i> Thông tin chung</a>
                    </div>
                </div>
                <a id="help" class="drop" onclick="fbFunction()">
                    <i class="fas fa-user-headset"></i>
                    <div class="content-drop">Gửi yêu cầu cho chúng tôi</div>
                </a>
            </div>
        </div>
        <div id="left_menu_profile">
            <div class="left_menu_profile">
                <ul class="drop-bar">
                    <li data-id="5">
                        <a class="root expand mb-3" href="@Url.Action("Index","Vcms")">Tổng quan website</a>
                    </li>
                    <li data-id="0">
                        <a class="root"><span>Admin</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Vcms", null, new { @class = "text_link" })</div>
                            @*<div>@Html.ActionLink("Quản lý admin", "CreateAdmin", "Vcms", null, new { @class = "text_link" })</div>*@
                            <div>@Html.ActionLink("Thông tin chung", "ConfigSite", "Vcms", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Đăng xuất", "Logout", "Vcms", null, new { @class = "text_link" })</div>
                        </div>
                    </li>
                    @*<li data-id="1">
                            <a class="root"><span>Quản lý chính sách</span><i class="fas fa-caret-down"></i></a>
                            <div class="sub hidden">
                                <div>@Html.ActionLink("Thêm mới bài viết", "Support", "Article", null, new { @class = "text_link" })</div>
                                <div>@Html.ActionLink("Danh sách bài viết", "ListSupport", "Article", null, new { @class = "text_link" })</div>
                            </div>
                        </li>*@
                    <li data-id="2">
                        <a class="root"><span>Quản lý Bài viết</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>@Html.ActionLink("Quản lý danh mục", "ArticleCategory", "Article", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Thêm mới bài viết", "Article", "Article", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Danh sách bài viết", "ListArticle", "Article", null, new { @class = "text_link" })</div>
                        </div>
                    </li>
                    <li data-id="3">
                        <a class="root"><span>Quản lý Sản phẩm</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>@Html.ActionLink("Quản lý danh mục", "ProductCategory", "ProductVcms", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Thêm mới sản phẩm", "Product", "ProductVcms", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Danh sách sản phẩm", "ListProduct", "ProductVcms", null, new { @class = "text_link" })</div>
                        </div>  
                    </li> 
                    <li><a href="@Url.Action("ListMember","Member")" class="root"><span>Quản lý thành viên</span></a></li>
                    <li><a href="@Url.Action("ListOrder","Order")" class="root"><span>Quản lý đơn hàng</span></a></li>
                    <li data-id="5">
                        <a class="root"><span>Quản lý phẩn hồi</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div class="first">@Html.ActionLink("Danh sách phản hồi", "ListFeedback", "Contact", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Thêm phản hồi", "Feedback", "Contact", null, new { @class = "text_link" })</div>
                        </div>
                    </li>
                    <li data-id="7">
                        <a class="root"><span>Quản lý Quảng cáo</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>@Html.ActionLink("Thêm mới quảng cáo", "Banner", "Banner", null, new { @class = "text_link" })</div>
                            <div>@Html.ActionLink("Danh sách quảng cáo", "ListBanner", "Banner", null, new { @class = "text_link" })</div>
                        </div>
                    </li>
                    <li data-id="9">
                        <a class="root"><span>Quản lý Liên hệ</span><i class="fas fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>@Html.ActionLink("Danh sách liên hệ", "ListContact", "Contact", null, new { @class = "text_link" })</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content_center_right">
            <div class="content_center_right">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/jqueryui")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/Scripts/multi-upload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/multi-upload/jquery.fileupload.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/scriptAdmin.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
