@using IceCream.Models
@{ 
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<!DOCTYPE html>
<html lang="vi-VN"> 
<head xmlns="http://www.w3.org/1999/xhtml" prefix="og:http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="@ViewBag.Canonical" /> 
    <link rel="shortcut icon" href="@Path.Combine("/images/configs/", config.Image)">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.Description)">
    <meta property="og:url" content="@ViewBag.Canonical">
    <meta property="og:site_name" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:image" content="@(ViewBag.ImagShare ?? Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/configs/", config.Image))" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
   
</head>
<body>
    @Html.Action("Header", "Home") 
    @RenderBody()
    @Html.Action("Footer", "Home")

    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap", "~/bundles/jqueryval")
    @RenderSection("scripts", false)
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0" nonce="di1pgAbX"></script>
</body>
</html>